@import '@angular/material/prebuilt-themes/indigo-pink.css'; 

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #ffffff;
  width: 400px;
  min-height: 460px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px -3px #333;
  text-align: center;
}

input {
  line-height: 1rem;
}

mat-error {
  font-size: 11px;
}
.mat-form-field {
  width: 300px;
}

img {
  width: 70px;
  margin: 10px auto;
}

.forget{
  cursor: pointer;
}

.forget:hover{
  text-decoration: underline;
}

.link {
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .form {
    box-shadow: none;
  }  
}
